@font-face {
    font-family: 'apercuitalic';
    src: url('../fonts/apercuitalic-webfont.eot');
    src: url('../fonts/apercuitalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/apercuitalic-webfont.woff') format('woff'), url('../fonts/apercuitalic-webfont.ttf') format('truetype'), url('../fonts/apercuitalic-webfont.svg#apercuitalic') format('svg');
    font-weight: normal;
    font-style: normal; }

@font-face {
    font-family: 'apercubold';
    src: url('../fonts/apercubold-webfont.eot');
    src: url('../fonts/apercubold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/apercubold-webfont.woff') format('woff'), url('../fonts/apercubold-webfont.ttf') format('truetype'), url('../fonts/apercubold-webfont.svg#apercubold') format('svg');
    font-weight: normal;
    font-style: normal; }

@font-face {
    font-family: 'apercuregular';
    src: url('../fonts/apercuregular-webfont.eot');
    src: url('../fonts/apercuregular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/apercuregular-webfont.woff') format('woff'), url('../fonts/apercuregular-webfont.ttf') format('truetype'), url('../fonts/apercuregular-webfont.svg#apercuregular') format('svg');
    font-weight: normal;
    font-style: normal; }

@font-face {
    font-family: 'aperculight_italic';
    src: url('../fonts/aperculightitalic-webfont.eot');
    src: url('../fonts/aperculightitalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/aperculightitalic-webfont.woff') format('woff'), url('../fonts/aperculightitalic-webfont.ttf') format('truetype'), url('../fonts/aperculightitalic-webfont.svg#aperculight_italic') format('svg');
    font-weight: normal;
    font-style: normal; }

@font-face {
    font-family: 'aperculight';
    src: url('../fonts/aperculight-webfont.eot');
    src: url('../fonts/aperculight-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/aperculight-webfont.woff') format('woff'), url('../fonts/aperculight-webfont.ttf') format('truetype'), url('../fonts/aperculight-webfont.svg#aperculight') format('svg');
    font-weight: normal;
    font-style: normal; }

* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #191919;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1em;
}

a {
    color: #C38213;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
}

p {
    margin-bottom: 10px;
}

h3 {
    margin: 15px 0;
    text-align: center;
}

.button {
    border-radius: 5em;
    background: #eee;
    border: 0.1em solid #eee;
    padding: .5em 1.25em;
    text-decoration: none;
    display: block;
    font-weight: 400;
    font-size: 1.2em;
    width: 220px;
    margin: 0 auto 1.5em auto;
    text-align: center;
}
form .button {
    display: inline-block;
    margin: 0 10px 0 0;
    width: auto;
}
.button-grouped {
    text-align: center;
}
.button-grouped .button {
    display: inline-block;
    margin: 0 10px 1.5em 10px;
    width: auto;
}
@media only screen and (min-width: 500px) {
    .button {
        border-width: 0.2em;
        font-size: 20px;
    }
}
.button-style1 {
    color: #094BA0;
    border-color: #094BA0;
}
.button-style1:hover,
.button-style1-active {
    color: #eee;
    border-color: #eee;
    background: #094BA0;
    text-decoration: none;
}
.button-style2 {
    color: #C38213;
    background: #eee;
    border-color: #C38213;
}
.button-style2:hover,
.button-style2-active {
    color: #eee;
    background: #C38213;
    border-color: #eee;
    text-decoration: none;
}

.container {
    max-width: 760px;
    margin: auto;

    @media (min-width: 768px) {
        padding:40px 0;
    }
}

.site-header {
    border-bottom: 4px solid #C8C8C8;
    padding: 10px;
    text-align: center;
}
.site-header img {
    display: block;
    padding:30px 0;
    margin: auto;
}

@media (min-width: 768px) {
    .site-header img {
        width: 100%;
    }
}

#countdown-message {
    font-size: 1.2em;
    line-height: 1.5;
    text-align: center;
    font-family: apercuregular;
    background-color: #fefefe;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 25px;
    padding: 2em;
}

.content {
    background-color: #E6E6EB;
    color: black;
    padding: 20px 10px;
}
.content h1 {
    margin-bottom: 20px;
    text-align: center;
}


.live-blog-date,
.content .live-blog-date {
    padding:11px 0;
    margin:0;
    font-family: 'aperculight';
    color:#0A4BA0;
    text-transform: uppercase;
}

.timezone-notice {
    color: #999;
    font-size: .8em;
    text-align: center;
}

.message {
    background-color: #fefefe;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 25px;
    padding: 2em;
    position: relative;
}

/** @todo: find a nice way to display user on mobile */
.message .user {
    color: #999;
    display: none;
    font-size: 0.9em;
    text-align: center;
    width: 80px;
}
@media (min-width: 968px) {
    .message .user {
        display: block;
        position: absolute;
        top: 0;
        left: -90px;
    }
}
.message .date {
    color: #ccc;
    font-size: 0.9em;
    margin-bottom: 5px;
}
.message .text {
    font-family: apercuregular;
    font-size: 1em;
    line-height: 1.5;
}
@media (min-width: 768px) {
    .message .text {
        font-size: 1em;
    }
}
.message .picture {
    max-height: 200px;
    margin-bottom: 15px;
    overflow: hidden;

}
@media (min-width: 768px) {
    .message .picture {
        max-height: 400px;
    }
}

.site-footer {
    border-top: 4px solid #C8C8C8;
    color: #999;
    font-size: .8em;
    padding: 15px;
    font-family: apercuregular;
    text-align: center;
}

.site-footer .separator {
    padding: 0 5px;
}

/* Admin
------------------------------------------------------------*/

table.table {
    width: 100%;
}
table.table th {
    text-align: left;
}
table.table th,
table.table td {
    padding: 5px 7px;
    vertical-align: top;
}

.form-text,
.form-textarea {
    display: block;
    font-size: 1.4em;
    margin-bottom: 10px;
    padding: 15px 2%;
    min-width: 300px;
}
.form-textarea {
    width: 100%;
}
.form-file {
    float: right;
    margin-top: 20px;
}
.remove-picture-checkbox {
    float: right;
    margin-top: 20px;
}
